<section class="d-flex flex-column h100">

  <app-my-toolbar
    (addRowEvent)="addRow()"
    (getConfigEvent)="getConfig()"
  ></app-my-toolbar>

  <mat-sidenav-container class="example-container f-gr-1" >
    <mat-sidenav class="p16" #sidenav mode="side" [(opened)]="opened">
      <app-left-bar></app-left-bar>
    </mat-sidenav>
    <mat-sidenav-content class="p16">

      <ng-container *ngFor="let num of rows; let i = index">
        <app-drop-row
          [(elements)]="forms[i].elements"
          (deleteRowEvent)="deleteRow(i)"
          [numberRow]="num">
        </app-drop-row>
      </ng-container>

    </mat-sidenav-content>
  </mat-sidenav-container>
</section>

