// Используйте приведенный ниже  css / scss код для того чтобы ваши формы выглядили красиво и адаптивно
// приведенные ниже сили нужно вставить глобально

.mr8 {
  margin-right: 8px;
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}

.ml8 {
  margin-left: 8px;
}

.d-flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33%;
}

.w-25 {
  width: 25%;
}
