<div cdkDropListGroup class="d-flex">
  <div class="example-container2">
    <h2 class="d-flex">
      Available elements
      <div class="f-gr-1"></div>
      <mat-icon class="pointer" (click)="deleteRow()">delete</mat-icon>
    </h2>
    <div
      cdkDropList
      [cdkDropListData]="items"
      class="example-list"
      cdkDropListSortingDisabled
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="drop($event)">
      <div (cdkDragEnded)="addElem(item)" class="example-box mb16" *ngFor="let item of items" cdkDrag>
        <app-dinamic-component [data]="{
          component: item,
          outputs: [],
          inputs: []}"></app-dinamic-component>
      </div>
    </div>
  </div>

  <div class="example-container f-gr-1">
    <h2>Row of form</h2>

    <div
      cdkDropList
      [cdkDropListData]="elements"
      class="example-list"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of elements;" cdkDrag>
        <app-dinamic-component [data]="{
        component: item,
        outputs:  {
            keyChange: keyChange,
            requireChange: requireChange
            },
            inputs: {}
            }"></app-dinamic-component>
      </div>
    </div>
  </div>
</div>
